@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Targeting the scrollbar in the sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;  /* Set the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Optional: make the thumb rounded */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1c2636; /* Set the background color of the scrollbar track */
  border-radius: 4px; /* Optional: make the track rounded */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;  /* Set the scrollbar width */
  scrollbar-color: #c0c0c0 #1c2636;  /* Set the thumb and track colors */
}
